<!--
	SmartFoxServer PRO 
	XML Config file
	version 1.1
	
	June, 2005
-->

<SmartFoxConfig>
	
	<!--
		Main Server Configuration parameters
	
		ServerIP 		= the IP addr. of the server.
		ServerPort		= server TCP/IP port ( > 1024 )
		MaxClients		= maximum amount of clients connected 
		MaxUserIdleTime		= maximum amount of idle time (in sec.) for a connected user
		
		AntiFlood		= Turn on/off the antiFlood filter for chat messages
		MinMsgTime		= minimum amount of time between 2 users messages. Tolerance is how many of these messages are allowed before warning message
		MaxRepeatedMessages	= the max amount of same messages that are allowed before a warning is sent to the client
		WarningsBeforeKick	= How many warning messages before kicking the user
		WarningMessage		= The message sent to the flooding user
		KickMessage		= The message sent before kicking the flooding user
		BanAfter		= The user is banned if he/she exceeds the number of kicks specified in the timeSpan (minutes)
		
		OutQueueThreads 	= size of the thread-pool for the EventWriter
		MaxWriterQueue		= max amount of messages in the EventWriter Queue before dropping messages
		MaxMsgLen		= maximum size for 1 single client message. Bigger messages are discarded.
		LogMaxSize		= Log max file size. Once the log size is passed a new log file is created
		LogMaxFiles		= Max number of files used for logging
		
		BanDuration		= # of hours that the banned users will be rejected to connect
		BanCleaning		= auto -> will automatically clean the banned status after BanDuration time has passed
					  manual -> ignore the BanDuration value. The user will be reactivated manually by the admin
		BannedLoginMessage	= The message a user should see when he tries to login after he has been banned
	-->
	
	<ServerSetup>
		
		<ServerIP>127.0.0.1</ServerIP>
		<ServerPort>9339</ServerPort>
		
		<AutoSendPolicyFile>true</AutoSendPolicyFile>
		<MaxUserIdleTime>300</MaxUserIdleTime>
		
		<AntiFlood active="false">
			<MinMsgTime tolerance="5">1000</MinMsgTime>
			<MaxRepeatedMessages>3</MaxRepeatedMessages>
			<WarningsBeforeKick>2</WarningsBeforeKick>
			<WarningMessage><![CDATA[No flooding allowed!)]]></WarningMessage>
			<KickMessage><![CDATA[You've been warned! No flooding! Now you're kicked]]></KickMessage>
			<BanMessage><![CDATA[Stop Flooding!! You're being banned]]></BanMessage>			
			<BanAfter timeSpan="1">3</BanAfter>
		</AntiFlood>
		
		<BadWordsFilter active="false">
			<FilterMode>filter</FilterMode> <!-- REMOVE or FILTER -->
			<Warnings>true</Warnings>
			<FilterRoomNames>true</FilterRoomNames>
			<FilterUserNames>true</FilterUserNames>
			<WarningsBeforeKick>3</WarningsBeforeKick>
			<WarningMessage><![CDATA[No swearing!)]]></WarningMessage>
			<KickMessage><![CDATA[You've been warned! No Swearing! Now you're kicked]]></KickMessage>
			<BanMessage><![CDATA[Stop Swearing! You're being banned!]]></BanMessage>	
			<BanAfter timeSpan="1">3</BanAfter>
			
			<BadWordsList>
				<badWord>motherfucker</badWord>				
				<badWord>dickhead</badWord>
				<badWord>asshole</badWord>
				<badWord>shithead</badWord>
				<badWord>shit</badWord>
				<badWord>fucker</badWord>
				<badWord>fucking</badWord>
				<badWord>fuck</badWord>
				<badWord>dickhead</badWord>
				<badWord>bastard</badWord>
				<badWord>ass</badWord>
				<badWord>nigger</badWord>
			</BadWordsList>
		</BadWordsFilter>
		
		<BanCleaning>auto</BanCleaning>
		<BanDuration>1800</BanDuration> <!-- 30 min -->
		<BannedLoginMessage>You have been banned!</BannedLoginMessage>
		
		<OutQueueThreads>1</OutQueueThreads>
		<MaxWriterQueue>50</MaxWriterQueue>
		
		<MaxMsgLen>4096</MaxMsgLen>
		
		<LogMaxSize>500000</LogMaxSize>
		<LogMaxFiles>5</LogMaxFiles>
		
		<!--
			Available options are:
			
			FINEST
			FINER
			FINE
			CONFIG
			INFO
			WARNING
			SEVERE

		-->
		<FileLoggingLevel>WARNING</FileLoggingLevel>
		<ConsoleLoggingLevel>INFO</ConsoleLoggingLevel>	
		
		<AdminLogin>sfs_admin</AdminLogin>
		<AdminPassword>sfs_pass</AdminPassword>
		
		<AdminAllowedAddresses>
			<AllowedAddress>*.*.*.*</AllowedAddress>
		</AdminAllowedAddresses>
		
		<IpFilter>0</IpFilter>
		
		<Mailer>
			<MailHost>test.mail.com</MailHost>
			<MailUser>foo</MailUser>
			<MailPass>bar</MailPass>
		</Mailer>
		
		<ExtensionRemoteDebug>true</ExtensionRemoteDebug>
				
	</ServerSetup>
	
	
	
	<!-- 
		Database Manager Configuration
		-------------------------------------------
		These configuration parameters are common to all application in the server unless
		you override them with a <DatabaseManager></DatabaseManager> configuration in the Zone
		
		The "active" attribute of the <DatabaseManager></DatabaseManager> tag turns on/off the
		DB module. If it is set to "false" the server will not support DB handling.
		
		Driver			is the fully qualified name of the jdbc driver for your database
		ConnectionString		the string to connect to the database
		UserName			a valid username for connecting to the database
		Password			a valid password to login in the database
		MaxActive			the maximum amount of pooled connections
		MaxIdle			the maximum amount of idle pooled connections (-1 = no limit)
		
		OnExahustedPool		specify what action has to be taken when the pool of connections is exhausted:
						fail  >> returns an error (RECCOMENDED)
						grow  >> grow the pool (so the pool size becomes > MaxActive)
						block >> block for some time before returning an error
		
		BlockTime			used only if you choose to block when the pool is exhausted. Expressed in ms.

		
	Example:
	
	<DatabaseManager active="true">
		
		<Driver>sun.jdbc.odbc.JdbcOdbcDriver</Driver>
		<ConnectionString>jdbc:odbc:TestDB</ConnectionString>
		
		<UserName>name</UserName>
		<Password>pass</Password>
		
		<MaxActive>10</MaxActive>
		<MaxIdle>10</MaxIdle>
		
		<OnExhaustedPool>fail</OnExhaustedPool>
		<BlockTime>5000</BlockTime>
		
	</DatabaseManager>
	
	-->
	
	
	<!--
		Zones Configuration.
		
		Each zone represents an isolated part of the server where an application
		runs without interfering with the others.
		
		A zone contains Rooms that can be created at boot time or at run time.
		
		uCountUpdate 	= true/false allows the notification about the number of users in each room of the zone
				  Turn off for performance boos and bandwidth savings if the zone has many users (1000+)
				  (default = true)
		
		maxRooms	= limits the number of maximum rooms that the zone can hold (default = no limit)
		maxUsers	= limits the number of maximum users allowed in the Zone (default = no limit)
		customLogin	= the zone can send events to an extension that will handle user login
				  If set to true, the default login method will be bypassed.
				  (default = false)
	-->
	<Zones>	
	
		<Zone name="dbZone" customLogin="false" buddyList="20">
			<Rooms>
				<Room name="MainRoom" maxUsers="10" isPrivate="false" isTemp="false" autoJoin="true" />
			</Rooms>
			
			<Extensions>
				<extension name="dbTest"  className="dbExtension.as" type="script" />
				<extension name="dbTestAdv"  className="dbExtensionAdv.as" type="script" />
				<extension name="simpleExt"  className="simpleExt.as" type="script" /> 
			</Extensions>
			
			<DatabaseManager active="false">
				
				<Driver>sun.jdbc.odbc.JdbcOdbcDriver</Driver>
				<ConnectionString>jdbc:odbc:sfsTest</ConnectionString>
				
				<!--
				Example connecting to MySQL
				
				<Driver>org.gjt.mm.mysql.Driver</Driver>
				<ConnectionString>jdbc:mysql://192.168.0.15:3306/sfsTest</ConnectionString>
				-->
				
				<UserName>Administrator</UserName>
				<Password>ocramipal</Password>
				
				<TestSQL><![CDATA[SELECT COUNT(*) FROM contacts]]></TestSQL>
				
				<MaxActive>10</MaxActive>
				<MaxIdle>10</MaxIdle>
				
				<OnExhaustedPool>fail</OnExhaustedPool>
				<BlockTime>5000</BlockTime>
					
			</DatabaseManager>
		</Zone>
		
		<Zone name="simpleChat" uCountUpdate="true" buddyList="20" maxUsers="4000" customLogin="false">
			<Rooms>
				<Room name="The Hall" maxUsers="50" isPrivate="false" isTemp="false" autoJoin="true" uCountUpdate="true" />		
				<Room name="The Kitchen" maxUsers="50" isPrivate="false" isGame="false" isTemp="false" />
				<Room name="The Garden" maxUsers="50" isPrivate="false" isTemp="false" />
				<Room name="The Bathroom" maxUsers="50" isPrivate="false" isTemp="false" />
				<Room name="The Garage" maxUsers="50" isPrivate="false" isTemp="false" />
				<Room name="The Living Room" maxUsers="50" isPrivate="true" isTemp="false" pwd="piddu" />
			</Rooms>
			
			<Moderators status="on">
				<Mod name="piddu" pwd="piddu" />
			</Moderators>
		</Zone>

		<Zone name="sftris" emptyNames="true">
			<Rooms>
				<Room name="The Entrance" maxUsers="50" isPrivate="false" isTemp="false" autoJoin="true" />
			</Rooms>
		</Zone>
		
		<Zone name="mazeGame">
			<Rooms>
				<Room name="The Entrance" maxUsers="50" isPrivate="false" isTemp="false" autoJoin="true" />
			</Rooms>
		</Zone>
		
		<Zone name="loginZone" emptyNames="false" customLogin="true">
			<Rooms>
				<Room name="The Hall" maxUsers="50" isPrivate="false" isTemp="false" autoJoin="true" />
			</Rooms>
			
			<Extensions>
				<extension name="loginEx"  className="loginExample.as" type="script" />
			</Extensions>
		</Zone>
		
		<Zone name="multiChat">
			<Rooms>
				<Room name="Main Lobby" maxUsers="50" isPrivate="false" isTemp="false" autoJoin="true" />
			</Rooms>
		</Zone>
		
		<Zone name="yahtzee">
			<Rooms>
				<Room name="The Entrance" maxUsers="50" isPrivate="false" isTemp="false" autoJoin="true" />
			</Rooms>
		</Zone>
		
		<Zone name="TheoChat">
			<Rooms>
				<Room name="Lobby" maxUsers="10" isPrivate="false" isTemp="false" autoJoin="false" />
				<Room name="The Dance Room" maxUsers="10" isPrivate="false" isTemp="false" autoJoin="false">
					<Vars>
						<Var name="MapPath" type="s" private="false">dance.xml</Var>
					</Vars>
				</Room>
				<Room name="The Atrium" maxUsers="10" isPrivate="false" isTemp="false" autoJoin="false">
					<Vars>
						<Var name="MapPath" type="s" private="false">atrium.xml</Var>
					</Vars>
				</Room>
				<Room name="The Garden" maxUsers="10" isPrivate="false" isTemp="false" autoJoin="false">
					<Vars>
						<Var name="MapPath" type="s" private="false">garden.xml</Var>
					</Vars>
				</Room>
				<Room name="The Lounge" maxUsers="10" isPrivate="false" isTemp="false" autoJoin="false">
					<Vars>
						<Var name="MapPath" type="s" private="false">lounge.xml</Var>
					</Vars>
				</Room>				
			</Rooms>			
			<Moderators status="on">
				<Mod name="mod" pwd="pass" />
			</Moderators>
		</Zone>
	</Zones>
	
</SmartFoxConfig>